$shadowColor1: rgb(146, 146, 146);
$shadowColor2: rgba(255, 255, 255, 0);

input {
    background-color:transparent;
    border: 0px solid;
    flex-grow: 4;
}

input:focus {
    outline:none;
}

.input_box {
    border: 1px solid #b9d1ff;
    border-radius: .25em;
    padding: .3em .5em .3em .5em;
    background-color: white;
    display: flex;
}

#eye {
    align-self: flex-end;
    justify-self: flex-end;
    margin-bottom: .3em;
    user-select: none;
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(167, 165, 165);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(184, 184, 184);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(184, 184, 184);
}